{% extends 'base.html' %}
{% block content %}
    <section class="login-page">
        <div class="form-group" align="center">
                <h2>Potwierdzenie zresetowania hasła zostało wysłane<br></h2>
                <h1>Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu email została wysłana. <br>
                Niebawem powinna się pojawić na Twoim koncie pocztowym.
                <br>
                W przypadku nieotrzymania wiadomości email: upewnij się czy adres wprowadzony jest zgodny z tym podanym<br>
                podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.
            </h1>
        </div>
    </section>
{% endblock content %}