{% extends 'form.html' %}
{% block f1 %}
    <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/5</div>
        <form method="POST">
            {% csrf_token %}
            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active">
                <h3>Zaznacz co chcesz oddać:</h3>
                {% for i in category %}
                    <div class="form-group form-group--checkbox">
                        <label>
                            <input
                                    type="radio"
                                    name="category" value="{{ i.name }}">
                            <span class="checkbox"></span>
                            <span class="description">{{ i.name }}</span>
                        </label>
                    </div>
                {% endfor %}
                <div class="form-group form-group--buttons">
                    <input type="submit" value="Dalej">
                </div>
            </div>
        </form>
{% endblock f1 %}