{% extends 'form.html' %}
{% block f5 %}
    <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>5</span>/5</div>
<form method="post">

    <!-- STEP 5 -->
    <div data-step="5">
        <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

        <div class="form-section form-section--columns">
            <div class="form-section--column">
                <h4>Adres odbioru</h4>
                <div class="form-group form-group--inline">
                    <label> Ulica <input type="text" name="address"/> </label>
                </div>

                <div class="form-group form-group--inline">
                    <label> Miasto <input type="text" name="city"/> </label>
                </div>

                <div class="form-group form-group--inline">
                    <label>
                        Kod pocztowy <input type="text" name="postcode"/>
                    </label>
                </div>

                <div class="form-group form-group--inline">
                    <label>
                        Numer telefonu <input type="number" name="phone"/>
                    </label>
                </div>
            </div>

            <div class="form-section--column">
                <h4>Termin odbioru</h4>
                <div class="form-group form-group--inline">
                    <label> Data <input type="date" name="data"/> </label>
                </div>

                <div class="form-group form-group--inline">
                    <label> Godzina <input type="time" name="time"/> </label>
                </div>

                <div class="form-group form-group--inline">
                    <label>
                        Uwagi dla kuriera
                        <textarea name="more_info" rows="5"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group form-group--buttons">
            <button type="button" class="btn prev-step">Wstecz</button>
            <button type="button" class="btn next-step">Dalej</button>
        </div>
    </div>
</form>
        {% endblock f5 %}