{% extends 'form.html' %}
{% block f4 %}
    <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>4</span>/5</div>
<form method="post">

    <!-- STEP 4 -->
    <div data-step="4">
        <h3>Wybierz organizacje, której chcesz pomóc:</h3>

        <div class="form-group form-group--checkbox">
            <label>
                <input type="radio" name="organization" value="old"/>
                <span class="checkbox radio"></span>
                <span class="description">
                  <div class="title">Fundacja “Bez domu”</div>
                  <div class="subtitle">
                    Cel i misja: Pomoc dla osób nie posiadających miejsca
                    zamieszkania
                  </div>
                </span>
            </label>
        </div>

        <div class="form-group form-group--checkbox">
            <label>
                <input type="radio" name="organization" value="old"/>
                <span class="checkbox radio"></span>
                <span class="description">
                  <div class="title">Fundacja “Dla dzieci"</div>
                  <div class="subtitle">
                    Cel i misja: Pomoc osobom znajdującym się w trudnej sytuacji
                    życiowej.
                  </div>
                </span>
            </label>
        </div>

        <div class="form-group form-group--buttons">
            <button type="button" class="btn prev-step">Wstecz</button>
            <button type="button" class="btn next-step">Dalej</button>
        </div>
    </div>
</form>
        {% endblock f4 %}