{% extends 'form.html' %}
{% block f2 %}
    <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>2</span>/5</div>
            <!-- STEP 2 -->
    <form method="post">
            <div data-step="2">
                <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                <div class="form-group form-group--inline">
                    <label>
                        Liczba 60l worków:
                        <input type="number" name="bags" step="1" min="1"/>
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>
        </form>
        {% endblock f2 %}